
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100&subset=latin,cyrillic-ext,cyrillic);

body {
    font-family: 'Roboto', sans-serif;
    position: relative;

}
textarea{
    resize: none;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration:none;
}

a:focus {
    outline:none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.btn:hover, 
.btn:focus{
    outline: none;
    box-shadow: none;
}

.navbar-toggle {
    background-color: #000;
}


/*************************
*******Header CSS******
**************************/

.header_top {
    background: none repeat scroll 0 0 #F0F0E9;
}


.contactinfo ul li a{
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
}


.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.head-menu ul li a {
    background: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding:0;
    padding-right: 0;
    margin-top: 10px;
}


/*************************
*******Footer CSS******
**************************/

#footer {
    background: #F0F0E9;
    height: 50px;
    margin-top: 10px;
}


.footer-bottom {
    padding-top: 15px;
    text-align: center;
}



/*************************
******* btn CSS ********
**************************/


.btn.btn-primary {
    background:#FE980F;
    border: 0 none;
    border-radius: 0;
    margin-top: 16px;
}



